.ramka{
    border: 0px dotted hotpink;

}

.wypelnij{
    background: #2C3E50;
}
.header_text{
    color: white;
    font-weight: 600;
}
.main_logo{
    margin: 40px;
}
.col-lg-5 .card{
    margin: 20px 10px;
    padding: 10px;
}
footer{
    width: 100%;
    margin-top: 55px;
    background: #2C3E50;
}
footer li{
    list-style-type: none;
}
footer li a, footer a{
    color: wheat;
}
footer li a:hover, footer a:hover{
    color: rgb(201, 151, 58);
}
#content{
    /* background-color: #2C3E50; */
    width: 100%;
    height: 100%;
}
.table_background{
    background: #f64d00;
}
.table_border{
    border: 1px solid #f64d00;
}
.halllo img{
    width: 100px;
    height: 100px;
}