<div class="row">

    <div class="dieta1 p-4">
        <div class="pb-2">
            <span class="rounded-circle embed-responsive-1by1 dot1table_background"></span>
            <h1>Dieta <span>Standard</span></h1>
        </div>
        <p></p>
    </div>
    <div class="table-responsive pb-4">
        <table class="table px-4 cennik pb-4">
            <thead>
                <tr>
                    <th>elo</th>
                    <th class="align-middle table_border">Cały zestaw</th>
                    <th class="align-middle " style="">Zestaw testowy*</th>
                    <th class="align-middle " style="">7-15 dni</th>
                    <th class="align-middle " style="">16-30 dni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle table_background">1200 kCal</td>
                    <td class="align-middle table_border">45 zł</td>
                    <td class="align-middle " style="">30 zł</td>
                    <td class="align-middle " style="">43 zł</td>
                    <td class="align-middle " style="">41 zł</td>
                </tr>
                <tr>
                    <td class="align-middle table_background">1500 kCal</td>
                    <td class="align-middle table_border">52 zł</td>
                    <td class="align-middle " style="">32 zł</td>
                    <td class="align-middle " style="">50 zł</td>
                    <td class="align-middle " style="">47 zł</td>
                </tr>
                <tr>
                    <td class="align-middle table_background">1800 kCal</td>
                    <td class="align-middle table_border">56 zł</td>
                    <td class="align-middle " style="">34 zł</td>
                    <td class="align-middle " style="">53 zł</td>
                    <td class="align-middle " style="">50 zł</td>
                </tr>
                <tr>
                    <td class="align-middle table_background">2000 kCal</td>
                    <td class="align-middle table_border">58 zł</td>
                    <td class="align-middle " style="">36 zł</td>
                    <td class="align-middle " style="">55 zł</td>
                    <td class="align-middle " style="">52 zł</td>
                </tr>
                <tr>
                    <td class="align-middle table_background">2500 kCal</td>
                    <td class="align-middle table_border">63 zł</td>
                    <td class="align-middle " style="">38 zł</td>
                    <td class="align-middle " style="">60 zł</td>
                    <td class="align-middle " style="">57 zł</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class="row">
    <div class="dieta1 p-4">
        <div class="pb-2">
            <span class="rounded-circle embed-responsive-1by1 dot1" style="background: #f64d00"></span>
            <h1>Dieta <span>Sport</h1>
        </div>
        <p></p>
    </div>
    <div class="table-responsive pb-4">
        <table class="table px-4 cennik pb-4">
            <thead>
                <tr>
                    <th></th>
                    <th class="align-middle table_border">Cały zestaw</th>
                    <th class="align-middle " style="">Zestaw testowy*</th>
                    <th class="align-middle " style="">7-15 dni</th>
                    <th class="align-middle " style="">16-30 dni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle " style="background: #f64d00">1700 kCal</td>
                    <td class="align-middle table_border">59 zł</td>
                    <td class="align-middle " style="">43 zł</td>
                    <td class="align-middle " style="">56 zł</td>
                    <td class="align-middle " style="">53 zł</td>
                </tr>
                <tr>
                    <td class="align-middle " style="background: #f64d00">2200 kCal</td>
                    <td class="align-middle table_border">65 zł</td>
                    <td class="align-middle " style="">45 zł</td>
                    <td class="align-middle " style="">62 zł</td>
                    <td class="align-middle " style="">59 zł</td>
                </tr>
                <tr>
                    <td class="align-middle " style="background: #f64d00">2700 kCal</td>
                    <td class="align-middle table_border">70 zł</td>
                    <td class="align-middle " style="">47 zł</td>
                    <td class="align-middle " style="">67 zł</td>
                    <td class="align-middle " style="">63 zł</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="dieta1 p-4">
        <div class="pb-2">
            <span class="rounded-circle embed-responsive-1by1 dot1table_background"></span>
            <h1>Dieta Wegetariańska</h1>
        </div>
        <p></p>
    </div>
    <div class="table-responsive pb-4">
        <table class="table px-4 cennik pb-4">
            <thead>
                <tr>
                    <th></th>
                    <th class="align-middle table_border">Cały zestaw</th>
                    <th class="align-middle " style="">Zestaw testowy*</th>
                    <th class="align-middle " style="">7-15 dni</th>
                    <th class="align-middle " style="">16-30 dni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle table_background">1200 kCal</td>
                    <td class="align-middle table_border">43 zł</td>
                    <td class="align-middle " style="">30 zł</td>
                    <td class="align-middle " style="">41 zł</td>
                    <td class="align-middle " style="">39 zł</td>
                </tr>
                <tr>
                    <td class="align-middle table_background">1500 kCal</td>
                    <td class="align-middle table_border">50 zł</td>
                    <td class="align-middle " style="">32 zł</td>
                    <td class="align-middle " style="">48 zł</td>
                    <td class="align-middle " style="">45 zł</td>
                </tr>
                <tr>
                    <td class="align-middle table_background">1800 kCal</td>
                    <td class="align-middle table_border">56 zł</td>
                    <td class="align-middle " style="">34 zł</td>
                    <td class="align-middle " style="">53 zł</td>
                    <td class="align-middle " style="">50 zł</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="row">
    <div class="dieta1 p-4">
        <div class="pb-2">
            <span class="rounded-circle embed-responsive-1by1 dot1" style="background: #f64d00"></span>
            <h1>Pakiet dla dzieci</h1>
        </div>
        <p></p>
    </div>
    <div class="table-responsive pb-4">
        <table class="table px-4 cennik pb-4">
            <thead>
                <tr>
                    <th></th>
                    <th class="align-middle table_border">Cały zestaw</th>
                    <th class="align-middle " style="">Zestaw testowy*</th>
                    <th class="align-middle " style="">7-15 dni</th>
                    <th class="align-middle " style="">16-30 dni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle " style="background: #f64d00">1200 kCal</td>
                    <td class="align-middle table_border">45 zł</td>
                    <td class="align-middle " style="">32 zł</td>
                    <td class="align-middle " style="">43 zł</td>
                    <td class="align-middle " style="">41 zł</td>
                </tr>
                <tr>
                    <td class="align-middle " style="background: #f64d00">1500 kCal</td>
                    <td class="align-middle table_border">52 zł</td>
                    <td class="align-middle " style="">34 zł</td>
                    <td class="align-middle " style="">50 zł</td>
                    <td class="align-middle " style="">47 zł</td>
                </tr>
                <tr>
                    <td class="align-middle " style="background: #f64d00">1800 kCal</td>
                    <td class="align-middle table_border">58 zł</td>
                    <td class="align-middle " style="">36 zł</td>
                    <td class="align-middle " style="">55 zł</td>
                    <td class="align-middle " style="">52 zł<span><span></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>