   <div class="row">
            <div class="col"></div>
            <div class="col-lg-5 text-center">
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/dieta_standard.jpg"
                        alt="dieta standard">
                    <div class="card-block">
                        <h4 class="card-title">Dieta standard</h4>
                        <p class="card-text">Zwyczajna dieta dla ludzi, którzy nie mają czasu na gotowanie.
                        </p>
                        <a href="#" class="btn btn-success">Zamów</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
            <div class="col-lg-5 text-center">
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/dieta_sport.jpg"
                        alt="dieta_sport">
                    <div class="card-block">
                        <h4 class="card-title">Dieta SPORT</h4>
                        <p class="card-text">Dieta dla sportowców. Wysokobiałkowa dieta dla największych wyjadaczy.
                        </p>
                        <a href="#" class="btn btn-success">Zamów</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>

        </div>


        <div class="row">
            <div class="col"></div>
            <div class="col-lg-5 text-center">
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/dieta_wegetarianska.jpg"
                        alt="Alternatywny opis obrazka">
                    <div class="card-block">
                        <h4 class="card-title">Dieta wegetariańska</h4>
                        <p class="card-text">Specjalnie dobrana dieta dla ludzi, którzy nie jedzą miesa.
                        </p>
                        <a href="#" class="btn btn-success">Zamów</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
            <div class="col-lg-5 text-center">
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/dieta_dla_dzieci.jpg"
                        alt="Alternatywny opis obrazka">
                    <div class="card-block">
                        <h4 class="card-title">Dieta <span class="text-uppercase">dla dzieci</span><span class="badge badge-secondary">New</span></h4>
                        <p class="card-text">Specjalnie zbilansowana dieta przygotowana dla dzieci w wieku 6-16 lat
                        </p>
                        <a href="#" class="btn btn-success">Zamów</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>

        </div>
