<div class="row">
    <div class="col">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Formularz</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Nazwa użytkownika</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"
                            required="">

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="passwordinput">Hasło</label>
                    <div class="col-md-4">
                        <input id="passwordinput" name="passwordinput" type="password" placeholder=""
                            class="form-control input-md" required="">
                        <span class="help-block">Zapomniałeś hasła?</span>
                    </div>
                </div>

                <!-- Button Drop Down -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="buttondropdown">Wybierz sport</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input id="buttondropdown" name="buttondropdown" class="form-control"
                                placeholder="Nazwa sportu" type="text" required="">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Wybierz typ
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Wodne</a></li>
                                    <li><a href="#">Na trawie</a></li>
                                    <li><a href="#">Na piasku</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textarea">Napisz coś o sobie</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="textarea" name="textarea">Maksymalnie 1000 znaków</textarea>
                    </div>
                </div>

                <!-- Multiple Radios -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="radios">Jakiej marki masz auto</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <label for="radios-0">
                                <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                VW
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input type="radio" name="radios" id="radios-1" value="2">
                                Opel
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-2">
                                <input type="radio" name="radios" id="radios-2" value="3">
                                Audi
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-3">
                                <input type="radio" name="radios" id="radios-3" value="4">
                                Peugeot
                            </label>
                        </div>
                    </div>
                </div>

                <!-- File Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="filebutton">Wstaw swoje zdjęcie</label>
                    <div class="col-md-4">
                        <input id="filebutton" name="filebutton" class="input-file" type="file">
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>