<div class="row">
  <div class="col"></div>
  <div class="col-md-5">
    <h2>Nasze posiłki</h2>
    <h3>Użycie Carousel</h3>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/dieta_dla_dzieci.jpg" alt="dla dzieci" style="width:100%;">
        </div>

        <div class="item">
          <img src="img/dieta_sport.jpg" alt="sport" style="width:100%;">
        </div>

        <div class="item">
          <img src="img/dieta_standard.jpg" alt="standard" style="width:100%;">
        </div>

        <div class="item">
          <img src="img/dieta_wegetarianska.jpg" alt="wegańska" style="width:100%;">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col"></div>
</div>