<div class="row">
    <div class="col text-center">
        <img alt="Tło promocyjne Amarantus" class="img-fluid rounded" src="img/glowna_img.jpg"/>
        <h2 class="text-center">Dlaczego my?</h2>
        <h3>Wszystkie warianty dietetyczne są odpowiednio zbilansowane i dostosowane do klienta przez specjalistów. Produkty, na których bazujemy dobieramy względem ich najwyższej jakości i świeżości. Służymy poradnictwem dietetycznym w celu dobrania odpowiedniej diety i jej kaloryczności.</h3>
    </div>
</div>