<div class="row">
    <div class="col text-center">
        <h3>Olsztyn, ul. Mazurska 5
        </h3>
        <h4>dieta@amarantus.pl
        </h4>
        <h4>(+48) 500 600 700</h4>
    </div>
    <div class="col">
        <iframe width="600" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?q=WMiI%20UWM%2C%20S%C5%82oneczna%2C%20Olsztyn%2C%20Poland&key=AIzaSyAOTL12skTgof6ehnTQM2goPxHokjV0urY"
            allowfullscreen></iframe>
    </div>
</div>