<div class="container-fluid">
    <div id="slajder">
        <div id="slades">
            <div class=" row ">
                <div class="  col-md-10 halllo">


                    <div id="prev">&#60</div>
                    <div class="active" id="photos">
                        <p>:)</p>
                        <!-- <img class="slade" src="img/dieta_sport.jpg" /> -->
                    </div>
                    <div id="next">&#62</div>

                    <input id='ile' value="4"/>

                    <!-- <script src="js/main.js"></script> -->
                </div>
            </div>
        </div>
    </div>
</div>